.artBtn {
    display: flex;
    justify-content: center;
    width: 200px;
    background-color: #FF909D;
    border-color: #FF909D;
  }
  
  .artBtn:hover {
    background-color: #FF6879;
    border-color: #FF6879;
  }
  
  p {
    display: flex;
    justify-content: flex-start;
  }
  
  .articleH1 {
    display: flex;
    justify-content: flex-start;
  }
  

.style{
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    justify-content: center;
}

.styleT{
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
}

.row{
  justify-content: space-between;
  align-items: center;
  align-content: center;
}